@import '/styles';

button{
    width: 1.5em;
    height: 1.5em;
    padding: .25em .25em;
    background: none;
    opacity: 0.5;
    border: none;
    color: $secondary-text;
    &:hover{
        opacity: 0.7;
    }
    &:focus{
        opacity: 1;
    }
    display: flex;
    align-items: baseline;
    div{
        max-height: 1.5em;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    div + div{
        margin-left: .5em;
    }
}