<div class="container-fluid p-2">
    <div class="card m-3">
        <div class="card-header bg-primary">

        </div>
        <div class="card-body">
            <h5 class="card-title fw-bolder">Category</h5>
            <p class="card-text">Categories serve to systematically organize topics or items into groups based on shared
                characteristics, facilitating efficient navigation and comprehension. They enhance accessibility,
                facilitate targeted searches, and foster clearer communication by clustering related subjects together
                for easier identification and understanding.</p>
        </div>
    </div>
    <categories-list [categories]="categories" />
</div>