<div class="view-container container-xl">
    <div  class="view-content">
        <div class="container-fluid">
            <div class="bg-gray-00 p-3 shadow2">
                <div class="d-flex flex-row gap-3 justify-content-between">
                    <h1 class="fw-bold">Categories</h1>
                    <button class="app-btn" (click)="showCategoryForm();" >
                        <i class="bi bi-plus"></i> Add
                    </button>
                </div>
            </div>
            
            <category-form />

            <div class="bg-gray-00 mt-4 p-3 shadow3">
                <category-list [categories]="categories" />
            </div>
        </div>
    </div>
</div>