<div class="m-2 p-2 border shadow-1">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex justify-content-center align-items-center ps-2 ">
            <h2 class="m-0">{{category.name}}</h2>
        </div>
        <button *ngIf="_config.contextMenu.enable" class="app-btn-icon-tertiary" (click)="toggleContextMenu()" >
            <i class="bi bi-three-dots-vertical"></i>
            <category-list-item-context-menu [modelId]="category.id" [(visable)]="contextMenuVisable"/>
        </button>
    </div>
    <div class="p-2">
        <p class="card-text">{{category.description}}</p>
    </div>
    <div class="d-flex flex-row justify-content-around pt-3">
        <simple-liking *ngIf="_config.voting" [vote]="vote" (like)="votingService.createLike(category.id)" (removeLike)="votingService.deleteLikeAndDislike(category.id)" />
        <button *ngIf="_config.open" class="app-btn-icon-tertiary" routerLink="/categories/{{category.id}}">
            <i class="bi bi-box-arrow-up-right"></i>
        </button>
    </div>
</div>