<div class="card m-2 w-100 bg-secondary-light" >
    <div class="card-header p-2 d-flex flex-row justify-content-between">
        <div class="d-flex justify-content-center align-items-center p-2 ">
            <h2 class="m-0">{{category.name}}</h2>
        </div>
        <button 
            class="app-btn-icon s24" 
            (click)="toggleContextMenu()"
        >
            <i class="bi bi-three-dots-vertical"></i>
            <category-list-item-context-menu [modelId]="category.id" [(visable)]="contextMenuVisable"/>
        </button>
    </div>
    <div class="card-body">
        <p class="card-text">{{category.description}}</p>
    </div>
    <div class="card-footer d-flex flex-row justify-content-around pt-3">
        <simple-liking [vote]="vote" (like)="votingService.createLike(category.id)" (removeLike)="votingService.deleteLikeAndDislike(category.id)" />
        <button  class="app-btn-icon s24" routerLink="/categories/{{category.id}}">
            <i class="bi bi-box-arrow-up-right"></i>
        </button>
    </div>
</div>