<div class="view-container container-xl">
    <div class="view-content">
        <div class="container-fluid">
            <div class="bg-gray-00 p-5 shadow-2 rounded-1">
                <div class="d-flex flex-column align-items-center">
                    <div>
                        <h1 class="text-primary-50" style="font-size: 50px;font-weight:bold;">SOLO LEARNING</h1>
                    </div>
                    <div class="pt-4">
                        <h2 class="text-secondary-60" style="font-size: 32px;">Don't look for quality resources just learn.</h2>
                    </div>
                    <div class="pt-2">
                        <h2 class="text-secondary-60" style="font-size: 28px;">We support* your feature!</h2>
                    </div>
                    <div>
                        <p>*invisible support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <div class="d-flex flex-column gap-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Icon+Label</th>
                    <th>Label</th>
                    <th>Icon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Primary</td>
                    <td>
                        <button class="app-btn">
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn">
                            <i class="bi bi-three-dots-vertical"></i>
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-icon">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Primary-outline</td>
                    <td>
                        <button class="app-btn-outline">
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-outline">
                            <i class="bi bi-three-dots-vertical"></i>
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-icon-outline">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Secondary</td>
                    <td>
                        <button class="app-btn-secondary">
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-secondary">
                            <i class="bi bi-three-dots-vertical"></i>
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-icon-secondary">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Secondary-outline</td>
                    <td>
                        <button class="app-btn-secondary-outline">
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-secondary-outline">
                            <i class="bi bi-three-dots-vertical"></i>
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-icon-secondary-outline">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tertiary</td>
                    <td>
                        <button class="app-btn-tertiary">
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-tertiary">
                            <i class="bi bi-three-dots-vertical"></i>
                            Login
                        </button>
                    </td>
                    <td>
                        <button class="app-btn-icon-tertiary">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div>
            <h1>app-btn-image</h1>
        </div>
        <div class="d-flex flex-row gap-2 align-items-center">
            <button class="app-btn-image">
                <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
            </button>
            <button class="app-btn-image s24">
                <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
            </button>
            <button class="app-btn-image s32">
                <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
            </button>
            <button class="app-btn-image s48">
                <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
            </button>
            <button class="app-btn-image s64">
                <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
            </button>
        </div>
    </div>
    <div style="height: 20em;"></div>
</div>