<div class="d-flex flex-column gap-2">
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Icon+Label</th>
                <th>Label</th>
                <th>Icon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Primary</td>
                <td>
                    <button class="app-btn-2">
                       Login
                    </button>
                </td>
                <td>
                    <button class="app-btn-2">
                       <i class="bi bi-three-dots-vertical"></i>
                       Login
                    </button>
                </td>
                <td>
                    <button class="app-btn-icon-2">
                       <i class="bi bi-three-dots-vertical"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Primary-outline</td>
                <td>
                    <button class="app-btn-outline-2">
                       Login
                    </button>
                </td>
            </tr>
            <tr>
                <td>Secondary</td>
            </tr>
            <tr>
                <td>Secondary-outline</td>
            </tr>
            <tr>
                <td>Tertiary</td>
                <td>
                    <button class="app-btn-tertiary-2">
                       Login
                    </button>
                </td>
                <td>
                    <button class="app-btn-tertiary-2">
                       <i class="bi bi-three-dots-vertical"></i>
                       Login
                    </button>
                </td>
                <td>
                    <button class="app-btn-icon-tertiary-2">
                       <i class="bi bi-three-dots-vertical"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <h1>app-btn</h1>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
        <button class="app-btn">
            Login
        </button>
        <button class="app-btn s24">
            Login
        </button>
        <button class="app-btn s32">
            Login
        </button>
    </div>

    <div>
        <h1>app-btn-outline</h1>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
        <button class="app-btn-outline">
            Login
        </button>
        <button class="app-btn-outline s24">
            Login
        </button>
        <button class="app-btn-outline s32">
            Login
        </button>
    </div>

    <div>
        <h1>app-btn-icon-text</h1>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
        <button class="app-btn-icon-text">
            <i class="bi bi-three-dots-vertical"></i>
            <p>Login</p>
        </button>
        <button class="app-btn-icon-text s24">
            <i class="bi bi-three-dots-vertical"></i>
            <p>Login</p>
        </button>
        <button class="app-btn-icon-text s32">
            <i class="bi bi-three-dots-vertical"></i>
            <p>Login</p>
        </button>
    </div>

    <div>
        <h1>app-btn-close</h1>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
        <button class="app-btn-close"></button>
        <button class="app-btn-close s24"></button>
        <button class="app-btn-close s32"></button>
    </div>

    <div>
        <h1>app-btn-image</h1>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
        <button class="app-btn-image">
            <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
        </button>
        <button class="app-btn-image s24">
            <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
        </button>
        <button class="app-btn-image s32">
            <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
        </button>
        <button class="app-btn-image s48">
            <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
        </button>
        <button class="app-btn-image s64">
            <img [src]="'https://www.deepdiveintel.com/wp-content/uploads/2013/09/Owl-Eye-art-300x300.jpg'" />
        </button>
    </div>

    <div>
        <h1>app-btn-icon</h1>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
        <button class="app-btn-icon">
            <i class="bi bi-plus"></i>
        </button>
        <button class="app-btn-icon s24">
            <i class="bi bi-plus"></i>
        </button>
        <button class="app-btn-icon s32">
            <i class="bi bi-plus"></i>
        </button>
    </div>
    <div style="height: 20em;"></div>
</div>