button.app-btn {
    color: $primary-text;
    background:  $primary;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
        padding-right: 6px;
    }
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
}
button.app-btn-outline {
    color: $primary;
    background: none;
    
    height: 36px;
    width: auto;
    
    padding: 6px 12px;
    margin: auto 0;

    border: 2px solid $primary;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
        padding-right: 6px;
    }
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
        border-color: $primary-dark;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
        border-color: $primary-dark;
    }
}
button.app-btn-secondary {
    color: $secondary-text;
    background:  $secondary;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
        padding-right: 6px;
    }
    &:hover {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
    }
    &:focus {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
    }
}
button.app-btn-secondary-outline {
    color: $secondary;
    background: none;
    
    height: 36px;
    width: auto;
    
    padding: 6px 12px;
    margin: auto 0;

    border: 2px solid $secondary;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
        padding-right: 6px;
    }
    &:hover {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
        border-color: $secondary-dark;
    }
    &:focus {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
    }
}
button.app-btn-tertiary {
    color: $primary-text;
    background: none;
    
    height: 36px;
    width: auto;
    
    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
        padding-right: 6px;
    }
    &:hover {
        background:  $gray-200;
    }
    &:focus {
        background:  $gray-200;
    }
}


button.app-btn-icon {
    color: $primary-text;
    background:  $primary;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
    }
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
}
button.app-btn-icon-outline{
    color: $primary;
    background: none;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: 2px solid $primary;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
    }
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
        border-color: $primary-dark;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
        border-color: $primary-dark;
    }
}
button.app-btn-icon-secondary {
    color: $secondary-text;
    background:  $secondary;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
    }
    &:hover {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
    }
    &:focus {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
    }
}
button.app-btn-icon-secondary-outline{
    color: $secondary;
    background: none;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: 2px solid $secondary;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
    }
    &:hover {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
        border-color: $secondary-dark;
    }
    &:focus {
        background:  $secondary-dark;
        color:  $secondary-dark-text;
        border-color: $secondary-dark;
    }
}
button.app-btn-icon-tertiary {
    color: $primary-text;
    background: none;

    height: 36px;
    width: auto;

    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
    }
    &:hover {
        background:  $gray-200;
    }
    &:focus {
        background:  $gray-200;
    }
}

button.app-btn-image {
    color: $secondary-text;
    background: none;
    height: 1em;
    width:  1em;
    padding: .25em .25em;
    margin: auto 0;

    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    opacity: 1;
    cursor: pointer;

    font-size: 1em;
    line-height: .75em;

    &:hover{
        opacity: 0.8;
    }
    &:focus{
        opacity: 0.9;
    }
    img {  
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
    &.s24 {
        width: 1.5em;
        height: 1.5em;
        img {  
            width: 24px;
            height: 24px;
        }
    }
    &.s32 {
        width: 2em;
        height: 2em;
        img {  
            width: 32px;
            height: 32px;
        }
    }
    &.s48 {
        width: 3em;
        height: 3em;
        img {  
            width: 48px;
            height: 48px;
        }
    }
    &.s64 {
        width: 4em;
        height: 4em;
        img {  
            width: 64px;
            height: 64px;
        }
    }
}
button.app-tab {
    color: $primary-text;
    background: none;
    
    height: 36px;
    width: auto;
    
    padding: 6px 12px;
    margin: auto 0;

    border: none;
    border-radius: 2px;

    font-size: 14px;
    i {
        display: inline-block;
        font-size: 14px;
        padding-right: 6px;
    }
    &.active{
        color: $primary;
    }
    &:hover {
        background:  $gray-200;
    }
    &:focus {
        background:  $gray-200;
    }
}