// <button class="app-btn s32">
//     Login
// </button>
button.app-btn {
    color: $primary-text;
    background:  $primary;
    height: 2em;
    width: auto;
    padding: 0 .5em;
    margin: auto 0;
    border: none;
    border-radius: .25em;
    opacity: 1;
    line-height: 2em;
    font-size: .5em;
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
    &.s24{
        padding: 0 1em;
        font-size: .75em;
    }
    &.s32 {
        padding: 0 1em;
        font-size: 1em;
    }
}

// <button class="app-btn-outline s32">
//     Login   
// </button>
button.app-btn-outline {
    color: $primary;
    background: none;
    height: 2em;
    width: auto;
    padding: 0 .5em;
    margin: auto 0;
    border: 1px solid $primary;
    border-radius: .25em;
    opacity: 1;
    line-height: 2em;
    font-size: .5em;
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
    }
    &.s24{
        padding: 0 1em;
        font-size: .75em;
    }
    &.s32 {
        padding: 0 1em;
        font-size: 1em;
    }
}

// <button class="app-btn-icon-text s32">
//     <i class="bi bi-three-dots-vertical"></i>
//     <p>Login</p>
// </button>
button.app-btn-icon-text {
    color: $primary;
    background: none;
    height: 1em;
    width: auto;
    padding: .25em .5em;
    margin: auto 0;
    border-radius: .25em;
    border: 1px solid $primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: .9;
    i {
        display: inline-block;
        font-size: .5em;
        line-height: .5em;    
    }
    p {
        display: inline-block;
        line-height: .5em;
        font-size: .5em;
        margin: auto 0px auto .125em;
    }
    &:hover {
        background:  $primary-dark;
        color:  $primary-dark-text;
        opacity: 1;
    }
    &:focus {
        background:  $primary-dark;
        color:  $primary-dark-text;
        opacity: 1;
    }
    &.s24{
        height: 1.5em;
        i {
            font-size: .75em;
            line-height: .75em;   
        }
        p {
            line-height: .75em;
            font-size: .75em;
            margin: auto 0px auto .125em;
        }
    }
    &.s32{
        height: 2em;
        i {
            font-size: 1em;
            line-height: 1em;     
        }
        p {
            line-height: 1em;
            font-size: 1em;
            margin: auto 0px auto .125em;
        }
    }
}

// <button class="app-btn-close s32"></button>
button.app-btn-close {
    color: $secondary-text;
    background: none;
    height: 1em;
    width:  1em;
    padding: 0 0 .125em .25em;
    margin: auto 0;
    border-radius: 50%;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.5;

    font-size: 1em;
    line-height: .75em;
    
    &:before {
        content: "x";
    }
    &:hover{
        opacity: 0.7;
        background-color: rgba(255, 255, 255, 0.1);
    }
    &:focus{
        opacity: 1;
    }
    &.s24 {
        font-size: 1.5em;
    }
    &.s32 {
        font-size: 2em;
    }
}

// <button class="app-btn-image s32">
//     <img [src]="'https://i.pinimg.com/originals/40/00/b7/4000b7b7caf046215794ccdef4a78630.png'"/>
// </button>
button.app-btn-image {
    color: $secondary-text;
    background: none;
    height: 1em;
    width:  1em;
    padding: .25em .25em;
    margin: auto 0;

    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    opacity: 1;
    cursor: pointer;

    font-size: 1em;
    line-height: .75em;

    &:hover{
        opacity: 0.8;
    }
    &:focus{
        opacity: 0.9;
    }
    img {  
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
    &.s24 {
        width: 1.5em;
        height: 1.5em;
        img {  
            width: 24px;
            height: 24px;
        }
    }
    &.s32 {
        width: 2em;
        height: 2em;
        img {  
            width: 32px;
            height: 32px;
        }
    }
    &.s48 {
        width: 3em;
        height: 3em;
        img {  
            width: 48px;
            height: 48px;
        }
    }
    &.s64 {
        width: 4em;
        height: 4em;
        img {  
            width: 64px;
            height: 64px;
        }
    }
}

// <button class="app-btn-icon s32">
//     <i class="bi bi-plus"></i>
// </button>
button.app-btn-icon {
    color: $secondary-text;
    background: none;

    height: 1em;
    width:  1em;

    padding: 0 0 .125em .25em;
    margin: auto 0;

    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    opacity: 0.5;

    font-size: 1em;
    line-height: 1em;

    &:hover {
        opacity: 0.7;
    }
    &:focus {
        opacity: 1;
    }
    &.s24 {
        width: 1.5em;
        height: 1.5em;
        i {
            font-size: 1.5em;
            line-height: 1.5em;
        }
    }
    &.s32{
        width: 2em;
        height: 2em;
        i {
            font-size: 2em;
            line-height: 2em;
        }
    }
}