// https://mdbootstrap.com/docs/standard/tools/design/color-schemes/#
// https://getbootstrap.com/docs/5.1/customize/color/
$primary-10:#fff5d5;
$primary-20:#ffe8a1;
$primary-30:#ffdb6d;
$primary-40:#ffce39;
$primary-50:#ffc105;
$primary-60:#d09c00;
$primary-70:#9c7500;
$primary-80:#684e00;
$primary-90:#342700;
$primary: $primary-50;
$primary-light: $primary-40;
$primary-dark: $primary-60;

$secondary-10:#849ab4;
$secondary-20:#6e88a7;
$secondary-30:#5c7697;
$secondary-40:#4f6681;
$secondary-50:#42556c;
$secondary-60:#354456;
$secondary-70:#273341;
$secondary-80:#1a222b;
$secondary-90:#0d1116;
$secondary: $secondary-70;
$secondary-light: $secondary-60;
$secondary-dark: $secondary-80;

$gray-00:white;
$gray-10:#d8d8d8;
$gray-20:#c0c0c0;
$gray-30:#a8a8a8;
$gray-40:#909090;
$gray-50:#787878;
$gray-60:#606060;
$gray-70:#484848;
$gray-80:#303030;
$gray-90:#181818;

$text-10:#7c7c7c;
$text-20:#6e6e6e;
$text-30:#606060;
$text-40:#535353;
$text-50:#454545;
$text-60:#373737;
$text-70:#292929;
$text-80:#1c1c1c;
$text-90:#0e0e0e;
$primary-text: #000000;
$primary-light-text: #000000;
$primary-dark-text:#000000;

$secondary-text: #FFF;
$secondary-light-text: #FFF;
$secondary-dark-text: #FFF;
