$primary-light: #FFD65C;
$primary: #FFC107;
$primary-dark:#E0A800;

$primary-light-text: #000000;
$primary-text: #000000;
$primary-dark-text:#000000;

$secondary-light: #191D22;
$secondary: #0E1217;
$secondary-dark: #080A0D;

$secondary-light-text: #FFF;
$secondary-text: #FFF;
$secondary-dark-text: #FFF;
