<div class="d-flex flex-row">
    <div class="col d-flex flex-column">
        <div *ngFor="let item of getItems()">
            <path-two-column-display-topic *ngIf="item.entityType == 'TOPIC'" [pathItem]="item" [topic]="item.entity" />
            <path-two-column-display-group *ngIf="item.entityType == 'GROUP'" [pathItem]="item"
                [groupId]="item.entityId" />
        </div>
    </div>
    <div class="pt-2" style="width: 38px;">
        <div class="d-flex flex-column ">
            <button *ngIf="selectedGroupIdList.length >= 2" class="app-btn" (click)="goBack()">
                <i class="bi bi-arrow-bar-left"></i>
            </button>
        </div>
    </div>
    <div class="col d-flex flex-column">
        <div *ngIf="selectedGroup">
            <path-two-column-display-group *ngFor="let group of selectedGroup.groups" [groupId]="group.id" />
            <path-two-column-display-topic *ngFor="let topic of selectedGroup.topics" [topic]="topic" />
        </div>
    </div>
</div>
<topic-details-modal />
<group-details-modal />