@import '/styles';

button{
    padding: .25em .25em;
    background: none;
    opacity: 0.5;
    border: 2px solid $primary;
    color: $primary-text;
    &:hover{
        opacity: 0.7;
    }
    &:focus{
        opacity: 1;
    }
}