<div class="container-xl d-flex flex-column ">
    <div id="header" class="p-3 ps-4 pe-4 ">
        <div class="d-flex flex-row justify-content-between">
            <h1 class="fw-bold">Comments</h1>
            <button class="app-btn" (click)="emitCreateCommentEvent()">
                <i class="bi bi-plus"></i> Add
            </button>
        </div>
        <div class="tab">
            <button  [ngClass]="activeTab == 'LIST'? 'active' : ''"
                (click)="changeTab('LIST')"> List
            </button>
            <button  [ngClass]="activeTab == 'FORM'? 'active' : ''"
                (click)="changeTab('FORM')"> Form
            </button>
        </div>
    </div>

    <div class="mt-2">
        <comment-form [hidden] = "activeTab != 'FORM'" [commentService]="commentService" [modelId]="modelId"/>
        <comment-list [hidden] = "activeTab != 'LIST'" [comments]="comments"/>
    </div>
</div>