<div class="main-container">
  <nav class="navbar navbar-expand-lg p-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [src]="'/assets/logo.png'" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
        Solo Learning
      </a>
  
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/topics" routerLinkActive="active" ariaCurrentWhenActive="page">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/paths" routerLinkActive="active" ariaCurrentWhenActive="page">Paths</a>
          </li>
        </ul>
  
        <div class="d-flex gap-3 ">
          <div class="d-flex justify-content-center">
            <div *ngIf="curentUser">
              <user-profile [userId]="curentUser.id"/>
            </div>
            <div *ngIf="!curentUser">
              <button 
                class="btn app-btn s32" 
                (click)="showLoginView()"
              >Login</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </nav>

  <div class="container main-container-content">
    <router-outlet></router-outlet>
  </div>
</div>

<login 
  *ngIf="loginViewViable"
  (hide)="hideLoginView()"
></login>