<div *ngIf="topic" class="container-xl d-flex flex-column">
    <user-profile-2 [userId]="topic.createdBy" [date]="topic.createdDate"/>

    <div class="mt-3">
        <h1>{{topic.name}}</h1>
        <h3>{{topic.content}}</h3>
    </div>

    <div class="mt-3">
        <div class="d-flex flex-row flex-wrap justify-content-start">
            <button *ngFor="let category of topic.categories" class="btn-category">{{category.name}}</button>
        </div>
    </div>

    <div class="mt-4">
        <reference-form [topicId] = "topic.id"/>
    </div>

    <div class="mt-4">
        <reference-list [references]="topic.references ?? []"/>
    </div>


    <div class="mt-4">
        <comment-form [commentService]="commentService" [topicId] = "topic.id"/>
    </div>
    <div class="mt-4">
        <comment-list [comments]="topic.comment.comments"/>
    </div>
   
</div>