<div class="view-container container-xl">
    <div  class="view-content">
        <div class="container-fluid">
            <div id="header" class="bg-gray-00 p-3 ps-4 pe-4 shadow-2 rounded-1">
                <div class="d-flex flex-row justify-content-between">
                    <h1 class="fw-bold">Topics</h1>
                    <button class="app-btn" (click)="showTopicForm()">
                        <i class="bi bi-plus"></i> Add
                    </button>
                </div>
                <div class="tab">
                    <button  [ngClass]="activeTab == 'LIST'? 'active' : ''"
                        (click)="changeTab('LIST')"> List
                    </button>
                    <button  [ngClass]="activeTab == 'FORM'? 'active' : ''"
                        (click)="changeTab('FORM')"> Form
                    </button>
                </div>
            </div>
            <div class="bg-gray-00 mt-4 p-3 shadow-3 rounded-1">
                <topic-form [hidden] = "activeTab != 'FORM'" />
                <topic-list [hidden] = "activeTab != 'LIST'"  [topics]="topics"/>
            </div>
        </div>
    </div>
</div>
<topic-details-modal />
