<div class="card m-2 w-100 bg-secondary-light" >
    <div class="card-header p-2 m-2 d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
            <button class="app-btn-image s48">
                <img [src]="'https://i.pinimg.com/originals/40/00/b7/4000b7b7caf046215794ccdef4a78630.png'"/>
            </button>
            <div class="d-flex ms-2 pt-2 flex-column">
                <h4>Ala Kot{{topic.createdBy}}</h4>
                <h5>{{topic.createdDate | date }}</h5>
            </div>
        </div>
        <button class="app-btn-icon s24" (click)="toggleContextMenu()">
            <i class="bi bi-three-dots-vertical"></i>
            <topic-list-item-context-menu [modelId]="topic.id" [(visable)]="contextMenuVisable"/>
        </button>
    </div>
    <div class="card-body">
        <h2 class="card-title">{{topic.name}}</h2>
        <div class="d-flex flex-row flex-wrap justify-content-start">
            <button *ngFor="let category of topic.categories" class="btn-category">{{category.name}}</button>
        </div>
    </div>
    <div class="card-footer d-flex flex-row justify-content-around pt-3">
        <button
            class="app-btn-icon s24"
            (click)="openTopicDetailsModal(topic.id);"
        >
            <i class="bi bi-arrows-angle-expand"></i>
        </button>
        <button  class="app-btn-icon s24">
            <i class="bi bi-chat-left-text-fill"></i>
        </button>
        <button  class="app-btn-icon s24">
            <i class="bi bi-star"></i>
        </button>
    </div>
</div>