<div class="card m-2 w-100 bg-secondary-light" >
    <div class="card-header p-2 m-2 d-flex flex-row justify-content-between">
        <user-profile-2 [userId]="topic.createdBy" [date]="topic.createdDate"/>
        <button class="app-btn-icon s24" (click)="toggleContextMenu()">
            <i class="bi bi-three-dots-vertical"></i>
            <topic-list-item-context-menu [modelId]="topic.id" [(visable)]="contextMenuVisable"/>
        </button>
    </div>
    <div class="card-body">
        <h2 class="card-title">{{topic.name}}</h2>
        <div class="d-flex flex-row flex-wrap justify-content-start">
            <button *ngFor="let category of topic.categories" class="btn-category">{{category.name}}</button>
        </div>
    </div>
    <div class="card-footer d-flex flex-row justify-content-around pt-3">
        <button class="app-btn-icon s24" (click)="openTopicDetailsModal(topic.id)">
            <i class="bi bi-arrows-angle-expand"></i>
        </button>
        <simple-liking [vote]="vote" (like)="like(topic.id)" (removeLike)="removeLike(topic.id)" />
        <button  class="app-btn-icon s24" routerLink="/topics/{{topic.id}}">
            <i class="bi bi-box-arrow-up-right"></i>
        </button>
    </div>
</div>