<div 
    *ngIf="modalVisable && modalId" 
    class="modal-background"
    (click)="$event.stopPropagation(); hideModal();"
>
    <div class="container-xl modal-container" (click)="$event.stopPropagation();">
        <div class="modal-button-close">
            <button (click)="hideModal()" class="app-btn-icon">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>

        <div class="modal-content">
            <group-details [modelId]="modalId"/>
        </div>
    </div>
</div>