<div class="comment-item container-xl d-flex flex-column">
    <div class="comment-item-content">
        <div class="d-flex flex-row justify-content-between">
            <user-profile-2 [userId]="comment.createdBy" [date]="comment.createdDate" class="m-3"/>
            <button class="app-btn-icon-tertiary mt-3 me-2" (click)="toggleContextMenu()">
                <i class="bi bi-three-dots-vertical"></i>
                <comment-list-item-context-menu [modelId]="comment.id" [(visable)]="contextMenuVisable"/>
            </button>
        </div>
        <div class="ps-4 pe-4">
            <p>{{comment.content}}</p>
        </div>
    </div>
    <div class="comment-item-buttons d-flex flex-row justify-content-around p-1">
        <button  class="app-btn-icon-tertiary"
            (click)="emitCreateCommentReplayEvent()"
        >
            <i class="bi bi-chat-left-text-fill"></i>
        </button>

        <div class="d-flex flex-row gap-1">
            <button class="app-btn-icon-tertiary"
                (click)="votingService.createLike(comment.id)"
            >
                <i class="bi bi-chevron-double-up"></i>
            </button>
            <button class="app-btn-icon-tertiary"
                (click)="votingService.removeLikeAndDislike(comment.id)"
            >
                {{ comment.voting.likesNumber - comment.voting.dislikesNumber }}
            </button>
            <button class="app-btn-icon-tertiary"
                (click)="votingService.createDislike(comment.id)"
            >
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>

    </div>
    <div class="ms-4 me-1">
        <comment-list-item *ngFor="let comment of comment.comments" [comment]="comment"/>
    </div>
</div>